.comment-container{
    background-color: var(--white);
    text-align: center;
    width: 300px;
    height: 180px;
    padding:20px;
}
.comment-container p {
    padding: 45px 0; 
}
.comment-container button{
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    padding: 7px ;
}